.burger-menu__button {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 44px;
  height: 37px;
  background-color: black;
  cursor: pointer;

}

.burger-menu__lines::before,
.burger-menu__lines::after,
.burger-menu__lines {
  z-index: 10;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #fff;
  transition: 0.4s;
}
.burger-menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu__lines::before {
  content: "";
  top: -4px;
}
.burger-menu__lines::after {
  content: "";
  top: 4px;
}

.burger-menu_active .burger-menu__lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu__lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.header .header__nav-menu {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  top: 67px;
  right: 25px;
  background-color: #f5f5f5;
}
.header__nav-menu li {
    padding: 4.5px 56px 3.5px 12px;
}
.header__nav-menu li:hover {
    background-color: #E5E5E5;
    width: 100%;
}
.burger-menu .header__nav-menu.hide {
    display: none;
}
