.header {
  @include container;
  padding: 45px 25px 51px 25px;
  &__nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__element a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 22px;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      color: $title-color;
    }
  }
}
