@mixin title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: $title-color;
margin-bottom: 24px;
text-transform: uppercase;
}
@mixin container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 25px;
} 